node_modules
/packages/*/lib
/packages/*/node_modules
/coverage
/.nyc_output
/.changelog

.turbo

dist
es
lib
cjs
esm
esnext

.DS_Store
**/fixtures/**/dist
.now
.dumi/tmp
.dumi/tmp-test
.dumi/tmp-production

.pnpm-debug.log
